#animated-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    margin: 0;
}

.scrollable-content::-webkit-scrollbar {
    display: none;
}

.infoLogo {
    width: 30px;
    height: 30px;
}

.customLink {
    background-color: rgba(255, 255, 255, 0.438);
}

#helloHand {
    width: 100px;
    height: 100px;
}

#firtsText {
    font-size: 4rem;

}

#section1 {
    height: 100vh;
}

.responsive-container {
    width: 100%;
    max-width: auto;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.responsive-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-25px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.glass-card {
    background: rgba(255, 255, 255, 0.438);
    border-radius: 20px;
    padding: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0);
    color: #fff;
}

.glass-card-dark {
    background: rgba(53, 53, 53, 0.438);
    border-radius: 20px;
    padding: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0);
    color: #fff;
}

.glass-card-black {
    background: rgba(0, 0, 0, 0.911);
    border-radius: 20px;
    padding: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0);
    color: #fff;
}

.glass-card-white {
    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0);
    color: #fff;
}

.onCard {
    transition: transform 0.1s ease-in !important;
}

.onCard:hover {
    transform: translateY(5px) !important;
    cursor: pointer;
}

.showItem {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.showItem.show {
    opacity: 1;
    transform: translateY(0);
}

#myProjectsTitle {
    font-size: 5vw;
    font-style: oblique;
    background-color: #ffffff;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#aboutMeTitle {
    font-size: 6vh;
    color: black;
}

#arrowDown {
    animation: bounce 2s infinite;
}